<div id="page-header" class="clearfix">
    <div class="page-header">
        <h2>News Feed</h2>
        <span class="txt">What's the buzz this week?</span>
    </div>
    <div class="header-stats">
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"><canvas width="99" height="20" style="display: inline-block; width: 99px; height: 20px; vertical-align: top;"></canvas></div>
        </div>
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"><canvas width="114" height="20" style="display: inline-block; width: 114px; height: 20px; vertical-align: top;"></canvas></div>
        </div>
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"><canvas width="109" height="20" style="display: inline-block; width: 109px; height: 20px; vertical-align: top;"></canvas></div>
        </div>
    </div>
</div>


<div class="row">
    <div id="checkAll-active" class="col-lg-12">
        <!-- col-lg-10 start here -->
        <div class="row gallery">
            <!-- Start .row -->
            
                <!-- Start .col-md-3 -->
                
                <% @media_hits.each do |h| %>
                <div class="col-xs-12 col-md-4">
                <div class="panel panel-default plain" id="dyn_0">
                    <!-- Start .panel -->
                    
                    <div class="panel-heading">
                        <h3><strong><%= h.title %></strong> 
                            <br><small><i>by <%= h.author %></i></small>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p><%= h.text %></p>
                        <p><a href="#">Read more</a></p>
                    </div>
                </div>
                </div>
                <% end %>
                
                <!-- End .panel -->
                
            
            <!-- End .col-md-3 -->
        </div>
        <!-- End .row -->
    </div>
    <!-- col-lg-10 end here -->
</div>

<div class="col-lg-13">
    <!-- col-lg-12 start here -->
    <div class="panel panel-default toggle panelClose panelRefresh" id="dyn_2">
        <!-- Start .panel -->
        <div class="panel-heading">
            <h4 class="panel-title">Database</h4>
        <div class="panel-controls panel-controls-right"><a href="#" class="panel-refresh"><i class="fa fa-circle-o"></i></a><a href="#" class="toggle panel-minimize"><i class="fa fa-angle-up"></i></a><a href="#" class="panel-close"><i class="fa fa-times"></i></a></div></div>
        
        <div class="panel-body">
            
                
            <table id="media_hits" class="table able-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="basic-datatables_info" style="width: 100%;">
                <thead>
                    <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Title: activate to sort column ascending" style="width: 171px;">Title</th><th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1" aria-label="Snippet: activate to sort column ascending" style="width: 273px;">Snippet</th><th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1" aria-label="Author: activate to sort column ascending" style="width: 129px;">Author</th><th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1" aria-label="Outlet: activate to sort column ascending" style="width: 112px;">Outlet</th><th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 69px;">Date</th><th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1" aria-label="Impressions: activate to sort column ascending" style="width: 113px;">Impressions</th></tr>
                </thead>
                
                <tbody>
                    <% @media_hits.each do |h| %>
                    <tr>
                        <td><strong><%= h.title %></strong></td>
                        <td><%= h.text.first(40) %></td>
                        <td><%= h.author %></td>
                        <td><em>The New York Times</em></td>
                        <td>11/18/2011</td>
                        <td>428,254</td>
                    <% end %>            
                                    
               </tbody>
                </table>
                
            
        </div>
    </div>
    <!-- End .panel -->
    </div>
