
<div id="page-header" class="clearfix">
    <div class="page-header">
        <h2>Add New Media Hit</h2>
        <span class="txt">Update your database</span>
    </div>
    <div class="header-stats">
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"></div>
        </div>
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
        </div>
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
        </div>
    </div>
</div>

<div class="row col-md-8">
    <div class="panel panel-default">
        <!-- Start .panel -->
        <div class="panel-heading">
            <h4>Add Manually</h4>
        </div>
        <div class="panel-body">
            <p class="mb15">Use this form to add new media hits manually to the database.</p>

            <%= form_for :media_hit, class: "form-horizontal", url: media_hits_path do |f| %>
            
            
            <div class="form-group">
                <%= f.label :title, :class => 'col-sm-2 control-label' %>
                
                <div class="col-sm-10">
                    <%= f.text_field :title, :class => 'form-control' %>
                </div>
            </div>
            
            <div class="form-group">
                <%= f.label :text, :class => 'col-sm-2 control-label' %>
                
                <div class="col-sm-10">
                    <%= f.text_area :text, :class => 'form-control' %>
                </div>
            </div>
            
            <div class="form-group">
                <%= f.label :author, :class => 'col-sm-2 control-label' %>
                
                <div class="col-sm-10">
                    <%= f.text_field :author, :class => 'form-control' %>
                </div>
                
                
            </div>
            
            <div class="col-sm-13 text-right">
                
                <%= f.submit "Save", :class => "btn btn-primary mr5 mb10" %>

            </div>


            <% end %>
            </div>
    </div>
</div>
